html {
	width: 100%;
	margin: 0;
	padding: 0;
	

}

body {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: transparent;
	
		
}


header {
	height: 66px;
	width: 100%;
	position: fixed;
	top:0px;
	background-color: #fff;
	z-index: 220;
	opacity: 1;
	border-bottom: 1px solid #e3e3e3;
}


#landing h5 {
	font-size: 540pt;
	color:#fff;
	position: absolute;
	opacity: .02;
	top:160px;
	margin: 0 44.7%;
	text-align: center;
	z-index: 1;
}

#landing {
	/*background: url(../images/bg004.jpg) center center fixed;*/
	/*background: #26333f center center fixed;*/
	position: relative;
	
	min-height: 100%;
	background-repeat: no-repeat;
	z-index: 0;
	background-size: 100%;
	width: 100%;
	height: 95vh;
	overflow: hidden;
	/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  background: -webkit-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #188278 10%, #3A6073 90%); /* W3C */
        
}

#land-page {
	width: 100%;
	height: 50vh;
	background: transparent 100% no-repeat;
	position: absolute;
	z-index: 1;
	top:0;
	margin: 0 auto;
	text-align: center;
}


#project-landing {
	
	position: relative;
	
	min-height: 100%;
	background-repeat: no-repeat;
	z-index: 0;
	background-size: 100%;
	width: 100%;
	height: 46vh;


  background: -webkit-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #188278 10%, #3A6073 90%); /* W3C */
}


#p-land-page {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

#section1 {
	background-color: #fff;
	width: 100%;
	height: inherit;
	position:relative;
	margin-top: 100px;
}


.land-title {
	padding-top: 60px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.land-intro {
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
#land-page h2 small {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}
#land-page h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
}

#land-page h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 100;
	line-height: 1.3em;
	color: #f4f4f4;
	text-align: center;
	
}

.underline {
	width: 100px;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	opacity: .4;
}



#section1 h2,
#section2 h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18pt;
	font-weight: 300;
	line-height: 1.3em;
	color: #a4a4a4;
	text-align: left;

}

#section1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.3em;
	color: #a0a0a0;
	text-align: justify;

}

.s1-body {
	width: 85%;
	margin: 0 auto 100px;
}


/*ABout Gnostyx*/
.s1-title {
	margin: 60px auto 0;
	width:85%;
}



#section2 {
	width: 100vw;
	height: 100vh;
	background-color: #f3f3f3;
	padding-top: 50px;
}

#section2 h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18pt;
	font-weight: 300;
	line-height: 1.3em;
	color: #a4a4a4;
	margin-left: 60px;
	text-align: left;

}

.s2-title {
	margin: 0 0 0 40px;
	width:85%;
	text-align: left;

}



.icon-gear1 {
	background-image: url(../images/cog001.svg);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	padding-top: 0px;
	position: absolute;
	margin: 0 0 0 20px;
}
































@media only screen and (min-width: 40em){

#landing {
	height: 64vh;
}


.land-title {

padding-top: 190px;
}


.s1-body {
	width: 56%;
	margin: 0 0 100px 100px;
	text-align: left;
}



}



@media only screen and (min-width: 64em) {


#landing {
	height: 64vh;
}


.land-intro {
	width: 56%;
}



}

