html {
	width: 100%;
	margin: 0;
	padding: 0;
	

}

body {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: transparent;
	
		
}


header {
	height: 61px;
	width: 100%;
	position: fixed;
	top:0px;
	background-color: #fff;
	z-index: 220;
	opacity: 1;
	border-bottom: 1px solid #e3e3e3;
	
}


#landing h5 {
	font-size: 540pt;
	color:#fff;
	position: absolute;
	opacity: .02;
	top:160px;
	margin: 0 44.7%;
	text-align: center;
	z-index: 1;
}

#landing {
	/*background: url(../images/bg004.jpg) center center fixed;*/
	/*background: #26333f center center fixed;*/
	position: relative;
	
	min-height: 100%;
	background-repeat: no-repeat;
	z-index: 0;
	background-size: 100%;
	width: 100%;
	height: 87vh;
	overflow: hidden;
	/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  background: -webkit-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #188278 10%, #3A6073 90%); /* W3C */
        
}

#land-page {
	width: 100%;
	height: 50vh;
	background: transparent 100% no-repeat;
	position: absolute;
	z-index: 1;
	top:0;
	margin: 0 auto;
	text-align: center;
}


#project-landing {
	
	position: relative;
	
	min-height: 100%;
	background-repeat: no-repeat;
	z-index: 0;
	background-size: 100%;
	width: 100%;
	height: 46vh;


  background: -webkit-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #188278 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #188278 10%, #3A6073 90%); /* W3C */
}


#p-land-page {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

#section1 {
	background-color: #fff;
	width: 100%;
	height: 70vh;
	position:relative;
	margin-top: 0px;

}





.land-title {
	padding-top: 60px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.land-intro {
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
#land-page h2 small {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}
#land-page h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
}

#land-page h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 100;
	line-height: 1.3em;
	color: #f4f4f4;
	text-align: center;
	
}

.underline {
	width: 100px;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	opacity: .4;
}



#section1 h2,
#section2 h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18pt;
	font-weight: 300;
	line-height: 1.3em;
	color: #a4a4a4;
	text-align: left;

}

#section1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	font-weight: 200;
	line-height: 1.3em;
	color: #a0a0a0;
	text-align: justify;

}

.s1-body {
	width: 85%;
	margin: 0 auto 100px;
}


/*ABout Gnostyx*/
.s1-title {
	margin: 60px auto 0;
	width:85%;
	text-align: center;
}



#section2 {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	padding-top: 50px;
	border-top: 1px solid #e3e3e3;
	margin:  0 auto;
	text-align: center;
}

#section2 h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	line-height: 1.3em;
	color: #a4a4a4;	
	padding-left: 100px;
	padding-top: 10px;
}


.s2-holder{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}




.s2-title {
	margin: 100px auto;
	position: relative;
	text-align: center;
	width: 80%;
	vertical-align: middle;
}



.icon-gear1 {
	background-image: url(../images/cog001.svg);
	background-repeat: no-repeat;
	width: 55px;
	float: left;
	height: 55px;

}

.btn2 {
	
	text-align: center;

}

.img-buck {
	width: 100%;
	padding:;
	opacity: .5;
	margin: 0 auto;
	text-align: center;
}

.buck3-title {
	margin-top: -40px;
}


.s2-img-1 {
	background-image: url(../images/bucket001.svg);
	width: 40%;
	height: 200px;
	display: inline-block;
	background-repeat: no-repeat;
	
	text-align: center;
	margin: 0 auto;
}


.s2-img-2 {
	background-image: url(../images/bucket002.svg);
	width: 40%;
	height: 200px;
	display: inline-block;
	background-repeat: no-repeat;
	
	text-align: center;
	margin: 0 auto;
}


.s2-img-3 {
	background-image: url(../images/bucket003.svg);
	width: 40%;
	height:200px;
	display: inline-block;
	background-repeat: no-repeat;

	text-align: center;
	margin: 0 auto;
}




@media only screen and (min-width: 60em) and (max-width: 54em) {






}















@media only screen and (min-width: 40em){

#landing {
	height: 64vh;
}


.land-title {

padding-top: 190px;
}


.s1-body {
	width: 70%;
	margin: 0 0 100px 150px;
	text-align: left;
}

.s2-title{

}


.btn2 {
	top: 45%;
	
	position: absolute;
	right: 44.5%;
}





}



@media only screen and (min-width: 64em) {


#landing {
	height: 64vh;
	overflow: hidden;
}


.land-intro {
	width: 56%;
}

#section1 {
	height: 50vh;
	overflow: hidden;
}

.btn2 {
	top: 57%;
	float: right;

	position: relative;
	right: 1.5%;
}

.s1-title {
	text-align: center;
	margin-left: 360px;
}

.s1-body {
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

}

