
button {
  width: 230px;
  height: 50px;
  background-color: #ccc;
  border:none;
  border-radius: 5px;
  margin: 5px auto 0;
  color: #888;
  font-size: 12pt;
  font-weight: 400;
  font-family: source sans pro, sans-serif;
  text-align: center;
  
   border-style: none;
  outline: none;
}


.projects-holder {
  width: 100%;
margin: 90px auto 100px;  
padding: 0;
}


button:focused,
button:hover,
button:during,  
button:active {
  border-style: none;
  outline: none;

 
}



.btn1:hover {
  background-color: #fafafa;
  color: #666;
  border: 1px solid #888;
}




.p-land-title {
  top: 130px;
  z-index: 100;
  color: #fff;
  position: absolute;
  
  margin-left: 140px;
  width: 60%;
  text-align: left;
}










.p-land-intro {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}


#p-land-page p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.3em;
  color:#2a877d;
  text-align: left;
  padding-top: 10px;

}
#p-land-page h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.3em;
  color:#fff;
  text-align: left;
  padding-top: 20px;

}





.bucket  {
  background-color: #fff;
  margin: 4% 1%;
  height: 210px;
  border: 1px solid #e3e3e3;
 
  padding: 4%;
  border-radius: 0px;
  text-align: left;
}

.bucket:hover {
  background-color: #f4f4f4;

}


.project-icon {
  background-image: url(../images/project-icon.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  text-align: left;
  top: 140px;
  z-index: 100;
  position: absolute;
  margin: 0 90px 0 0;
  float: left;
 
}



#p-land-page h4 {
  font-size: 15pt;
  font-weight: 300;
  color:#fff;
 
}

#p-land-page h1 {
  font-size: 20pt;
  font-weight: 300;
  color:#999;
}




#p-land-page h2 {
  font-size: 26pt;
  font-weight: 300;
  color:#fff;
}


#p-land-page b {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.3em;
  color:#2a877d;
 
  text-align: left;
  text-transform: uppercase;

}



@media only screen and (min-width: 43em) {



.p-land-intro {
  width: 60%;
  margin: 0 auto;
  float: left;
  text-align: center;
}



.p-land-title {
  top: 130px;
  float: left;
  z-index: 100;
  color: #fff;
  position: absolute;
  margin: 0 auto;  
  width: 60%;
  text-align: left;
  padding-left: 120px;
}



.bucket {
  margin: 2% 4%;
}


}








@media only screen and (min-width: 64em) {


.bucket {
  margin: 2% 4%;
}


}









