<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, target-density, dpi=device-dpi">
<title>Gnostyx {{page.title}}</title>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	
	<link rel="stylesheet" type="text/css" href="../css/general.css">
	<link rel="stylesheet" type="text/css" href="../css/menustyle.css">
	<link rel="stylesheet" type="text/css" href="../css/grid.css">
	<link rel="stylesheet" type="text/css" href="../fonts/elegant_font/fonts/style.css">
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
	
	<link href="../fonts/font-awesome.css" rel="stylesheet">

</head>
<body>
	
			<header>
				<div class="masthead-top">
					<h1 class="logo-wrapper"><a href="index.html" class="logo">Gnostyx</a></h1>
					<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
			
					<nav class="nav nav-top" data-state="collapsed">
						<div class="nav-title">
							
						</div>
							<ul>
								<li><div class="arw"></div><div class="icon-top icon-top1"></div><a href="#">About</a></li>
								<li><div class="arw"></div><div class="icon-top icon-top2"></div><a href="#">Product Offerings</a></li>
								<li><div class="arw"></div><div class="icon-top icon-top4"></div><a href="#">Project Reports</a></li>
								<!-- <li><div class="arw"></div><div class="icon-top icon-top3"></div><a href="#">Lab</a></li> -->
								<!-- <li><div class="arw"></div><div class="icon-top icon-top5"></div><a href="#">Contact</a></li> -->
						</ul>
					</nav>
				</div>
			</header>



			<section id="landing" data-type="background">
				<h5><div class="fa fa-cog fa-spin"></h5>
			</section>


				<section id="land-page" data-type="page" data-scroll="0">
					<div class="land-title"><h2>Gnostyx Research Inc.<br> <small>Engineering Content</small></h2></div>
					<div class="underline"></div>
					<div class="land-intro">
						<h1>Gnostyx Research Inc equips organizations with the tools and knowledge thet need to make the most of applied content technologies.</h1>
					</div>
					<div class="underline"></div>
				</section>



			<section id="section1">
					<div class="s1-title"><h2>About Gnostyx</h2></div>
					<div class="s1-body">
						<p>Gnostyx Research Inc. equips organizations with the tools and knowledge they need to make the most of applied content technologies. A global, digital economy demands flexibility and efficiency in how organizations acquire, manage and publish content. Responding to this demand, organizations must find a way to tap into the content technology marketplace while remaining firmly in control of their investments and their content assets.</p>
					</div>
			</section>



			<section id="section2">
				<div class="fa-spin icon-gear1"></div>
				<div class="s2-title"><h2>What do we offer?</h2></div>
				<div class="grid">
					<div class="unit unit-s-1 unit-m-2-3 unit-l-1-3">
					</div> 
				</div>
			</section>
	
	
	{{content}}
	
		
			<script type="text/javascript" src="js/footer-toggle-hybrid.js"></script>
			<script src="js/retina.js"></script>
</body>
</html>
