<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, target-density, dpi=device-dpi">
<title>Gnostyx {{page.title}}</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
	<link href="css/menustyles.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="css/slider.css"> -->
	<link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
	 <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/jquery.particleground.min.js"></script>
	
	
	

	
	
		
		
</head>
<body>





<header>
				<div class="masthead-top">
					<h1 class="logo-wrapper"><a href="index.html" class="logo"></a></h1>
					<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
			
					<nav class="nav nav-top" data-state="collapsed">
						<div class="nav-title">
							
						</div>
							<ul>
								<li class="active"><div class="arw"></div><div class="icon-top icon-top1"></div><a href="index.html">About</a></li>
								<li><div class="arw"></div><div class="icon-top icon-top2"></div><a href="#">Products</a></li>
								<li><div class="arw"></div><div class="icon-top icon-top4"></div><a href="projects.html">Projects</a></li>
							
								<li><div class="arw"></div><div class="icon-top icon-top5"></div><a href="projects.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</header>


	
			<section id="landing">

				
			</section>
		
			<section id="landing-welcome">

				<div class="landing-intro"><h2>Engineering Content</h2></div>
				<div class="landing-content">
				<p>Making the most of applied content technologies</p>
				</div>
				<div class="blk-cog"></div>
			</section>


			<section id="section1" data-type="page" data-scroll="0">
					<div class="s1-title"><h2>About Gnostyx</h2></div>
					<div class="s1-content"><p>A global, digital economy demands flexibility and efficiency in how organizations acquire, manage and publish content. Responding to this demand, organizations must find a way to tap into the content technology marketplace while remaining firmly in control of their investments and their content assets.</p></div>
			</section>


			<section id="section2">
				<div class="s2-content">
					<div class="s2-intro"><p>Structured upon a set of core elements, Gnostyx Research produces the products and services necessary to address these demands.</p></div>
					<div class="s2-tools"><p><b>Tools</b><br>Tools based on open content standards and open source technology</p></div>
					<div class="s2-knowledge"><p><b>Knowledge</b><br>Knowledge that is provided as guidance, training, implementation assistance</p></div>
					<div class="s2-experience"><p><b>Experience</b><br>Distilling best practices established through decades of experience</p></div>
				</div>
				<div class="btm-gry"></div>
			</section>
 

			<section id="section3">
					<div class="s3-title"><h2>What our services/products provide</h2></div>
					<div class="s3-intro"><h1>The components listed above, ensure our products and services Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></div>

					<div class="s3-buckets">
						<div class="grid">
							<div class="unit unit-s-1 unit-m-1 unit-l-1-3">
							<div class="s3-unit s3-unit1">
								<div class="s3-icon s3-icon-1"></div>
								<div class="s3-bk-title s3-bk-title1"><h1>Flexibility</h1></div>
								<div class="s3-bk-content s3-bk-content1">
									<p>Flexibility through offering options that are best suited for project goals</p>
								</div>
							</div>
							</div>

							<div class="unit unit-s-1 unit-m-1 unit-l-1-3">
							<div class="s3-unit s3-unit2">
								<div class="s3-icon s3-icon-2"></div>
								<div class="s3-bk-title s3-bk-title1"><h1>Efficiency</h1></div>
								<div class="s3-bk-content s3-bk-content1">
									<p>High efficiency products that allow for savings</p>
								</div>
							</div>
							</div>

							<div class="unit unit-s-1 unit-m-1 unit-l-1-3">
							<div class="s3-unit s3-unit3">
								<div class="s3-icon s3-icon-3"></div>
								<div class="s3-bk-title s3-bk-title1"><h1>Safety</h1></div>
								<div class="s3-bk-content s3-bk-content1">
									<p>Control and Safety when applying content technologies</p>
								</div>
							</div>
							</div>

						</div>
					</div>
			</section>

		

	
	
	
	
		
			<script type="text/javascript" src="js/footer-toggle-hybrid.js"></script>

			<script type="text/javascript" src="js/retina.min.js"></script>
			
			
			<script type="text/javascript" src="js/animation.js"></script>
			<script type="text/javascript" src="js/waypoints.min.js"></script>


</body>
</html>
